{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        generateme/fastmath {:mvn/version "3.0.0-alpha2"}
        clojure.java-time/clojure.java-time {:mvn/version "1.4.2"}}
 :aliases {:dev {:extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                              io.github.nextjournal/clerk {:mvn/version "0.14.919"}}}}}
