{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        generateme/fastmath {:mvn/version "2.2.0" :exclusions [com.github.haifengl/smile-mkl]}
        clojure.java-time/clojure.java-time {:mvn/version "1.2.0"}}
 :aliases {:dev {:extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                              io.github.nextjournal/clerk {:mvn/version "0.13.842"}}}}}
